body {
    font-family: Arial;
    background-color:#25252b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(33, 128, 115);
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;

}
input {
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #05192e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    background: #0c7757;
}

.hidden {
    display: none;
}